@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {

    font-family: 'Poppins', sans-serif;

}

html {

    scroll-behavior: smooth;

}

:root {

    --padding-contain: 50px 0;

}

.contain {

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-contain);

}

.hero {

    width: 100%;
    height: 40vh;
    max-height: 800px;
    min-height: 500px;
    position: relative;
    display: grid;
    grid-template-rows: 50px 1fr;
    color: #FFF;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/img/banner2.jpg");
    background-size: cover;
    background-position: right;

}

.nav {

    --padding-contain: 10px 0;
    display: flex;
    align-items: center;
    width: 95%;

}

.nav__items,
.exit_img {

    display: none;

}


.nav__title {

    font-weight: lighter;


}

.nav__menu {

    margin-left: auto;

}

.hero_contain {

    max-width: 800px;
    display: grid;
    --padding-contain: 0;
    grid-auto-rows: max-content;
    justify-items: flex-start;
    align-self: center;
    gap: 1.5em;
}

.contain_title {

    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 300;

}

.hero__subtitle {
    font-weight: lighter;

}

.contain__description {

    font-weight: 100;
    width: 80%;

}

.cta {

    display: inline-block;
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 32px;
    border: 1.5px solid white;

}

.cta:active {

    background: white;
    color: black;

}

.social_network {

    display: none;

}

.about {

    color: #222;
    display: flex;
    text-align: center;

}

.about__information {

    width: 80%;
    margin: 0 auto;

}

.about h2 {

    padding: 30px 0;

}

.about__img {

    display: none;

}

.catalogue {

    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: #222;
    background-image: radial-gradient(#646464 0.5px, #222 0.5px);
    background-size: 10px 10px;
    --padding-contain: 0 0 30px;
    padding: var(--padding-contain);

}

.contain_singel_catalogue{

    border-bottom: 1px solid #ccc;
    margin: 0 20px;

}

.contain_img_catalogue{

    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 30px 20px;
    

}

.img_catalouge {

    border-radius: 20px;
    max-width: 100%;
}

.contain_paragrah_catalogue{

    text-align: center;
    color: white;
    font-weight: 100;
    line-height: 1.5;

}

.contain_paragrah_catalogue {

    margin-bottom: 20px ;

}

.footer {


    background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        url("/img/footer.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;

}


.footer_contain {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 30px 0;

}

.footer_form {

    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1em;


}

.footer a {

    text-decoration: none;

}

.footer_form input {

    border: none;
    padding: 1.4rem 2rem;
    line-height: 1.2rem;
    width: 100%;

}

.footer_form button {

    border: none;
    padding: 1.5rem 2rem;
    width: 40%;
    line-height: 1.2rem;
    background-color: rgb(73, 73, 73);
    color: #FFF;

}

.footer__social_network img {

    width: 40px;

}

@media screen and (min-width: 500px){

    .contain_img_catalogue{

        justify-content: space-evenly;

    }

        .img_catalouge{

            flex-grow: 1;
            max-width: 25%;

        }

}

@media only screen and (min-width: 800px) {

    .hero_contain a {

        text-decoration: none;

    }

    .nav a {

        display: inline;

    }

    .nav_link {


        margin-left: auto;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 1em;

    }

    .nav__items {

        display: block;
        list-style: none;

    }

    .nav__links {

        color: #FFF;
        text-decoration: none;

    }

    .nav__menu {

        display: none;

    }

    .hero_contain {

        gap: 1.5em;

    }

    .hero {

        background-size: cover;
        background-position: center;

    }

    .contain_title {

        font-size: 2.5em;

    }

    .contain_title h1 {

        margin: 0;
        font-weight: 400;


    }

    .hero__description {

        font-size: 20px;

    }

    .contain__button {

        display: none;

    }

    .social_network {

        display: flex;
        gap: .5em;
        justify-content: space-around;

    }

    .social_network img{

        width: 3em;

    }

    .img_catalouge{

        max-width: 30%;

    }

    .about {

        text-align: left;

    }

    .about__information {

        align-self: center;
        width: 60%;

    }

    .about__img {

        width: 50%;
        display: block;

    }

    .about__img img {

        width: 100%;


    }

    .footer_contain {

        gap: 3em;

    }


    .footer_form {

        flex-direction: row;

    }

    .footer_form input {

        width: 70%;

    }

    .footer_form button {

        width: 30%;

    }

    .footer__social_network img {

        width: 60px;

    }

}