@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {

    font-family: 'Poppins', sans-serif;
    background: #FCFCFC;

}

html {

    scroll-behavior: smooth;

}

:root {

    --padding-contain: 50px 0;

}

.contain {

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-contain);

}

.hero {

    width: 100%;
    height: 40vh;
    max-height: 800px;
    min-height: 500px;
    position: relative;
    display: grid;
    grid-template-rows: 50px 1fr;
    color: #FFF;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("/img/banner.jpg");
    background-size: cover;

}

.nav {

    --padding-contain: 10px 0;
    display: flex;
    align-items: center;
    width: 95%;

}

.nav__items,
.exit_img {

    display: none;

}


.nav__title {

    font-weight: lighter;


}

.nav__menu {

    margin-left: auto;

}

.hero_contain {

    max-width: 800px;
    display: grid;
    --padding-contain: 0;
    grid-auto-rows: max-content;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-self: center;
    gap: 1em;
}

.contain_title {

    border: 1px solid white;
    background: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
    padding: 10px;

}

.hero__title {

    padding: 0;
    margin: 0;
    font-weight: lighter;

}

.hero__subtitle {
    font-weight: lighter;

}

.contain__description {

    font-weight: 100;
    width: 80%;

}

.cta {

    display: inline-block;
    background-color: white;
    justify-self: center;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 32px;
    border: transparent;

}

.social_network {

    display: none;

}

.about {

    color: #222;
    display: flex;
    text-align: center;

}

.about__information{

    width: 80%;
    margin: 0 auto;

}

.about h2 {

    padding: 30px 0;

}

.about__img{

    display: none;

}

.catalogue{

    width: 100%;

}


.calogue__contain{

    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-self: flex-start;
    background: #333;
    gap: 1em;

}

.calogue__contain div{

    width: 100px;
    background: rebeccapurple;
    height: 100px;
    border: 1px solid green;
    

}

@media only screen and (min-width: 800px) {

    .nav a {

        display: inline;

    }

    .nav_link {


        margin-left: auto;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 1em;

    }

    .nav__items {

        display: block;
        list-style: none;

    }

    .nav__links {

        color: #FFF;
        text-decoration: none;

    }


    .nav__menu {

        display: none;

    }

    .hero_contain {

        gap: 1.5em;

    }

    .hero {

        background-size: contain;

    }

    .contain__button {

        display: none;

    }

    .social_network {

        display: block
    }

    .about{

        text-align: left;

    }

    .about__information {

        align-self: center;
        width: 60%;

    }

    .about__img {

        width: 50%;
        display: block;

    }

    .about__img img {

        width: 100%;


    }

}